*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
   overflow-x: hidden; 
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden; 
}
header{
	height: 100vh;
	background: url('img/header-bg.jpg') no-repeat;
	background-size: cover;
}
nav li > a{
	color: #E1E6FA !important;
	font-size: 1em;
}
nav li > a:hover{
	color: #FFC800 !important;
}
nav .navbar-brand{
	font-family: 'Quintessential', cursive;
	font-size: 2em;
	color: #FFC800 !important;
}
@media(max-width: 500px){
	nav .navbar-brand{
		font-size: 1.5em;
	}
}
span i{
	color: #E1E6FA;
	font-size: 2em;
}
/*--------------- HERO ZONE ---------------*/
header section{
	height: 80.8%;
	color: white;
}
header section h2{
	font-family: serif;
	font-size: 2.5em;
	text-shadow: 2px 2px 5px #000;
}
header section h1{
	font-size: 5em;
	font-weight: bold;
	text-shadow: 2px 2px 10px #000;
}
@media(max-width: 992px){
	header section h2{
		font-size: 2em;
	}
	header section h1{
		font-size: 3em;
	}
}
@media(max-width: 576px){
	header section h2{
		font-size: 1.5em;
	}
	header section h1{
		font-size: 2em;
	}
}
header section button{
	font-weight: bolder !important;
	font-size: 1.2em;
	color: #34393E !important;
	animation: button 5s cubic-bezier(0.3, 0, 0.7, 1.0) infinite;
}
/*------- @keyframes for button --------*/
@keyframes button{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.9, 0.9);
	}
	100%{
		transform: scale(1.1, 1.1);
		box-shadow: -5px -5px 10px orange;
	}
}
/*================================== SERVICES SECTION ===============================*/
.h2-title{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	margin-top: 2rem;
}
.para{
	font-family: serif;
	font-style: italic;
	font-size: 1.1em;
	font-weight: bold;
	color: #667882;
	margin-top: 0.9rem;
}
@media(max-width: 576px){
	.h2-title{
		font-size: 1.9em;
	}
	.para{
		font-size: 0.9em;
		margin-top: 0.5rem;
	}
}
.card{
	border: none;
	display: flex;
	flex-direction: column;
}
.card i{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	font-size: 4em;
	margin: auto;
	border-radius: 50% !important;
	border: 1px solid;
	color: white;
	
}
#services .card i, #team .card i{
	animation: icons 4s cubic-bezier(0.1, 0, 0, 0.1) 1;
}
/*------------- @keyframes icons -----------*/
@keyframes icons{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(0.8, 0.8) rotate(180deg);
	}
	100%{
		transform: scale(0.9, 0.9);
	}
}
.card-title{
	font-family:  'Poppins', sans-serif;
	font-weight: 700;
	margin: 1.1rem 0;
}
@media(max-width: 768px){
	.card-title{
		font-size: 1.2em;
	}
}
@media(max-width: 576px){
	.card-title{
		font-size: 1.2em;
	}
}
.card-text{
	color: #667882;
	font-size: 1.1em;
	font-weight: 400;
	font-family: serif;
}
@media(max-width: 576px){
	.card-text{
		font-size: 1em;
		text-align: justify;
	}
}

/*================================= Portfolio Section ===========================*/
#portfolio .para{
	margin-top: 0;
}
.img-hover{
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(220, 238, 5, 0.85);
	position: absolute;
}
.img-hover > span{
	width: 100%;
	height: inherit;
	display: flex;
	align-items: center;
}
.img-hover span i{
	display: inline-block;
	margin-top: 35%;
	font-size: 2em;
	border: none;
}
#portfolio a:hover .img-hover{
	display: inline-block;
}


/*----------------------------- MODAL ---------------------------*/
.modal-footer{
	border: none;
}
.modal-footer button{
	font-weight: 700;
 	margin: 1rem 0 2rem 0 !important;
}

/*============================== About Section ==================*/
#about img{
	width: 25%;
	border: 10px solid rgba(102, 120, 130, 0.2);
	border-radius: 50%;
}
@media(max-width: 768px){
	#about img{
		width: 100%;	
	}
}

@media(max-width: 578px){
	#about .card-title{
		font-size: 1em;
	}
	#about .card-text{
		font-size: 0.85em;
	}
}

/*============================== Team Section =============================*/
#team .card{
	border: none;
}
#team .para{
	font-style: normal;
}
#team img{
	border: 10px solid rgba(102, 120, 130, 0.2);
	border-radius: 50%;
	width: 75%;
}
.icons{
	display: flex;
	justify-content: center;
	font-size: 0.5em;
	margin-top: 0.5rem;
}
#team div > i{
	width: 20%;
	height: 50%;
	margin: 0;
	border: none;
	color: black;
	cursor: pointer;
}

/*=========================== Companies Section =========================*/
#companies a{
	text-decoration: none;
	color: rgba(102, 120, 130, 1);
	font-size: 2em;
	font-weight: 700;
}
@media(max-width: 575px){
	#companies a{
		font-size: 1.3em;
	}
}

/*========================= Footer ====================================*/
footer{
	background: url('img/map.jpg');
}
footer h2{
	color: white;
}
footer input::placeholder, textarea::placeholder{
	font-weight: 700;
}
textarea{
	border-radius: 5px;
	width: 100%;
}
footer form button{
	font-weight: 700 !important;
 	margin: 1rem 0 2rem 0 !important;
}